<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Registered</title>
	<meta name="description" content="Registered">
	<meta name="keywords" content="Registered">
	<meta name="author" content="DK">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" tppabs="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.css') }}" tppabs="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/site.min.css') }}" tppabs="http://www.bootcdn.cn/assets/css/site.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/html5shiv.min.js') }}" tppabs="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="{{ url_for('static', filename='js/respond.min.js') }}" tppabs="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script>var _hmt = _hmt || [];</script>
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='img/apple-touch-icon-144-precomposed.png') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"></head>
<body class="home-template">
	<div class="site-notice">
		<a href="{{ url_for('index') }}" tppabs="http:{{ url_for('index') }}"> <em>Registered上线啦！</em>
		</a>
	</div>
	<header class="site-header jumbotron">
		<div class="site-nav">
			<a href="//dkdk.pw/" tppabs="http://dkdk.pw/" target="_blank" onclick="_hmt.push(['_trackEvent', 'site-nav', 'click', 'blog'])">博客</a>
			<span>/</span>
			<a href="#about">关于</a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Registered</h1>
					<p>
						查查你注册过哪些网站
						<br>
						<span class="package-amount">
							共收录了 <strong>{{ count }}</strong>
							个网站信息
						</span>
					</p>
					<form class="" role="search" method="GET" action="">
						<div class="form-group">
							<input name="keyword" type="text" class="form-control search clearable" placeholder="搜索用户名、手机或邮箱，例如：test@example.com"> <i class="fa fa-search"></i>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>
	<main class="packages-list-container" id="all-packages">
		<div class="container">
			<div class="list-group packages">
				<div class="row">
                    {% if result %}
					{% for res in result %}
                    <div class="col-md-3">
                        <a href="{{ result[res] }}" target="_blank" style="text-decoration:none;">
                            <h3 class="package-name">{{ res }}</h3>
                        </a>
                    </div>
					{% endfor %}
                    {% endif %}
				</div>
			</div>
		</div>
	</main>

</body>
</html>