<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Minimal - Coming soon page</title>
<!-- css link -->
<link rel="stylesheet" type="text/css" href="{{ static_url('font-awesome-4.0.3/css/font-awesome.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />
<!-- JavaScript link -->
<script type="text/javascript" src="{{ static_url('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/main.js') }}"></script>
</head>
<body>
	<div id="container">
    	<div class="brand">
        	<h1 class="title">Registered</h1>
			<div class="search">
				<div class="subscriptionForm">
                    <input id="email-subscribe" name="email" placeholder="输入要查询的手机/邮箱/用户名" />
                    <input type="submit" id="subscribebtn" value="查询" />
                </div>
			</div>
        </div>
        <div class="loadding">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
		<div class="row"></div>
    </div>
</body>
</html>
